<mat-toolbar class="my-toolbar">
    <h2>LOGIN</h2>
</mat-toolbar>
<div class="main" fxLayout="column" fxLayoutAlign="center center">
    <mat-card class="maincard">
      <div class="my-form">
          <mat-form-field class="full-width" >
            <mat-label>Email</mat-label>
            <input matInput placeholder="email">
          </mat-form-field>

          <mat-form-field class="full-width">
              <mat-label>Password</mat-label>
              <input matInput placeholder="Password">
          </mat-form-field>
          
          <button mat-raised-button color="primary">LOGIN</button>
      </div>
          </mat-card>
</div>  