<div class="main">
    <mat-card class="card">
    <mat-toolbar class="tool" style="margin-top: -16px;">
        <span style="font-family: 'Lato';">Register</span>
    </mat-toolbar>
    <div style="font-family: 'Lato';font-size: large;margin-top: 10px;">
        <mat-label>First Name <span style="color: red;">*</span></mat-label>
    </div>
    <div>
        <input matInput type="text" required placeholder="First Name">
    </div>

    <div style="font-family: 'Lato';font-size: large;margin-top: 10px;">
        <mat-label>Last Name <span style="color: red;">*</span></mat-label>
    </div>

    <div>
        <input matInput type="text" required placeholder="Last Name">
    </div>

    <div style="font-family: 'Lato';font-size: large;margin-top: 10px;">
        <mat-label>Username <span style="color: red;">*</span></mat-label>
    </div>
    <div>
        <input matInput type="text" required placeholder="username">
    </div>

    <div style="font-family: 'Lato';font-size: large;margin-top: 10px;">
        <mat-label>Password <span style="color: red;">*</span></mat-label>
    </div>
    <div>
        <input matInput type="password" required placeholder="password">
    </div>

    <button mat-flat-button color="primary" style="margin-top: 20px;">Register</button>

    <button mat-flat-button  style="margin-top: 20px;margin-left: 30px;color:blue;" >Cancel</button>
    </mat-card>
</div>