<div style="margin-left: 20px;font-variant: normal;font-size: medium;margin-top: 40px;background-color: rgb(95, 224, 138);">
    <h3 style="font-weight: bold;">Arrow Function :</h3>
    <div>
        An <b>arrow function expression</b> is a compact alternative to a traditional function expression,<br>
     but is limited and can't be used in all situations.    
    </div>
    <h4 style="margin-top: 20px;"><b>Differences & Limitations:</b></h4>

    <div>
        <ul>
            <li>Does not have its own bindings to this or super, and should not be used as methods.</li>
            <li>Does not have arguments, or new.target keywords.</li>
            <li>Not suitable for call, apply and bind methods, which generally rely on establishing a scope.</li>
            <li>Can not be used as constructors.</li>
            <li>Can not use yield, within its body.</li>
        </ul>
    </div>
</div>