.message{
    background-color: darkgrey;
}
h1{
    font-family: 'Lato';
}
.name{
    font-family: 'Lato';
    margin: 10px;
}
.email{
    font-family: 'Lato';
    margin: 10px;

}
.mobile{
    font-family: 'Lato';
    margin: 10px;
}
.country{
    font-family: 'Lato';
    margin: 10px;
}
select{
    width: 175px;
    height: 25px;
}

button{
    margin: 10px;
}
.list{

    font-family: 'Lato';
    text-align: center;
    font-size: larger;
    font-style: normal;
    font-size: x-large;
    background-color:rgb(131, 192, 233);
    color: white;
    
    
}
.toolbar{
        margin: 0 auto;
      
}
a{
    text-decoration: none;
    color: white;
}