<!-- <h2 style="font-family: 'Lato';margin: 30px;font-size: x-large;">LOGIN</h2> -->

<div class="main" fxLayout="column" fxLayoutAlign="center center">
    <mat-card class="card">
        <h3 style="text-align: center;font-family: 'Lato';font-size: x-large;">LOGIN</h3>
        <div class="email">
            <mat-form-field appearance="outline" style="width: 90%;height: 15px;font-family: 'Lato';">
                <mat-label>Email</mat-label>
                <input matInput type="text" placeholder="Email">
            </mat-form-field>
        </div>
        <div class="email">
            <mat-form-field appearance="outline" style="width: 90%;height: 15px;font-family: 'Lato';">
                <mat-label>Password</mat-label>
                <input matInput type="password" placeholder="Email">
            </mat-form-field>
        </div>
        <button mat-raised-button color="primary">LOGIN</button>
    </mat-card>
</div>