.toolbar{
    flex: 1 1 auto;
    justify-content: center;
}

.main{

    display: flex;
    justify-content: center;
}

.card{
    display: flex;
    justify-content: center;
    width:30%;
    height: 70vh;
    border-radius: 20px;
}
.full-width{
    justify-content: left;
    width: 90%;
    margin-left: 20px;
    
}

.button{
    
    justify-content: center;
    display: flex;
    
}