.my-toolbar{
    justify-content: center;
    justify-items: center;
}
.full-width{
    justify-content:left;
    width: 100%;
}

.maincard{
    display: flex;
    justify-content:center;
    height: 60vh;
      width: 400px;
    margin-top: 25px;
    
   
    
  }
  .main{
    display: flex;
    justify-content: center;
   
    
  }
.my-form{
    min-width: 150px;
    max-width: 500px;
    width: 80%;
}