<mat-toolbar class="my-toolbar">
    <h2>Register</h2>
</mat-toolbar>
<div class="main" fxLayout="column" fxLayoutAlign="center center">
    <mat-card class="maincard">
      <div class="my-form">
          <mat-form-field class="full-width">
              <mat-label>First Name</mat-label>
              <input matInput placeholder="First Name" required>
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Last Name" required>
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Address</mat-label>
            <input matInput placeholder="Address" required>
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" required>
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="Password" required>
        </mat-form-field>
        <button mat-raised-button color="primary">REGISTER</button>
      </div>
      </mat-card>
</div>