.main{
    justify-content: center;
    display: flex;

}
.maincard{
    justify-content: center;
    display: flex;
    height: 70vh;
    width: 800px;
    margin-top: 50px;
    border-collapse:separate; 
    border-spacing: 0 15px; 
    
   

}
    th{ 
    background-color: #4287f5; 
    color: white; 
    text-align: center;
    } 
    th{ 
    width: 150px; 
    text-align: center; 
    padding: 5px;
    
    }

table{
    width: 1000px;
    height: 50vh;
    margin-top: 50px;
    justify-content: center;
    border-collapse: separate;
    border-spacing: 0 1em;
}