<div>
    <div>
        <h1 style="margin-left: 30px;margin-top: 50px;font-weight: bolder;">ES6 Samples</h1>

<ul style="margin-left: 30px;">
  <li><a routerLink="/arrow_function" target="_blank">Arrow function</a></li>
  <li><a routerLink="/classes" target="_blank">Classes</a></li>
  <li><a routerLink="/destructuring" target="_blank">Destructuring</a></li>
  <li><a routerLink="/maps" target="_blank">Maps</a></li>
  <li><a routerLink="/parameters" target="_blank">Parameters</a></li>
  <li><a routerLink="/scopeandlet" target="_blank">Scope and Let</a></li>
  <li><a routerLink="/sets" target="_blank">Sets</a></li>
  <li><a routerLink="/template_strings" target="_blank">Template Strings</a></li>
  <li><a routerLink="/weakmap_weakset" target="_blank" >WeakMap and WeakSet</a></li>
</ul>
    </div>
</div>