.main{
    justify-content: center;
    display: flex;
}

table{
    width: 52%;
    margin-top: 20px;
}

th{
    background-color: black;
    color: white;
    font-family: 'Lato';
}
td{
    font-family: 'Lato';
}