.title{
    font-family: 'Lato';
    font-size: large;
    
    height: 30px;
    width: 100%;
    border: none;
    outline: none;
}

.description{
    font-family: 'Lato';
    font-size: large;
    margin-top: 20px;
    height: 30px;
    width: 100%;
    border: none;
    outline: none;
}

mat-icon{
    color: grey;
}
