      <mat-label>Name</mat-label>
        <div style="margin-top: 10px;">
                <input matInput type="text" required placeholder="Enater your name" [(ngModel)]="user.name">
          
        </div>
        <div style="margin-top: 20px;">
            <mat-label>Email</mat-label>
        </div>
        <div style="margin-top: 10px;">
                <input matInput type="text" required placeholder="Enater your email" [(ngModel)]="user.email" >
          
        </div>

        <button style="margin-top: 30px;background-color: skyblue;" mat-raised-button  (click)="onSubmit()">Submit</button>
