.card{
    width: 650px;
    margin-left: 100px;
    height: 15px;
    margin-top: 10px;
    
    
}
input{
    width: 500px;
    margin-left: 40px;
    height: 30px;
    margin-top: 10px;
    border: none;
    outline: none;
}

.example-container 
{
    height: 80vh;
    
    background-color: white;
}
  
.mat-navside{
    width: 15%;
    width: 304px;
min-width: 304px;
}
.example-sidenav{
    width: 15%;
    
}
.button{
    width: 200px;
    height: 50px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    font-family: 'Lato';
    font-size: large;
}
.grey{
    background-color: lightgrey;
    input{
        background-color: lightgrey;
    }
}