.example-container 
{
    height: 100vh;
    width: 100%;
}
  
.example-sidenav-content
{ 
    width: 950px;
}
.mat-navside{
    width: 15%;
}
.example-sidenav{
    width: 15%;
}

button{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;          
}
.width{
    margin-top: 20px;
    font-family: 'Lato';
    font-size: large;
}

.customers{
    font-family: 'Lato';
    font-size: x-large;
    margin: 30px;
        
}
.list{
    margin-left: 50px;
    font-size: large;
    font-family: 'Lato';
}

.name{

    background-color: rgb(34, 144, 218);
    font-family: 'Lato';
    font-size: large;
    width: 180px;
    height: 30px;
    color: white;
}
.layout{
    border: solid 2px;
    height: 100px;
  /*   margin-left: 50px;
    margin-top: 50px; */

}

a{
    text-decoration: none;
}

.img{
    height: 45px;
    width: 50px;
    margin: 10px;
}
.listview{
    border: solid 2px;
    height: 180px;
     margin-left: 100px;
    margin-top: 30px; 
    width: 184px;
    height: 95px;
   
}
