.main{
    display: flex;
    justify-content: center;
}

.card{

    height: 70vh;
    width: 100%;
    }
.email{

    margin-left: 40px;
    margin-top: 30px;
    flex: 1 0 auto;
    
}
button{
    justify-content: center;
    margin-top: 50px;
    margin-left: 150px;
}
.md-dialog-container {
    
    width: 400px;
    height: 495px
}
