<h2 mat-dialog-title style="text-align: center;margin-left: -20px;font-family: 'Lato';">REGISTERATION</h2>
<mat-dialog-content class="md-dialog-container">
    <div class="email">
        <mat-form-field appearance="outline" style="width: 90%;height: 15px;font-family: 'Lato';">
            <mat-label>First Name</mat-label>
            <input matInput type="text" placeholder="First Name">
        </mat-form-field>
    </div>
    <div class="email">
        <mat-form-field appearance="outline" style="width: 90%;height: 15px;font-family: 'Lato';">
            <mat-label>Last Name</mat-label>
            <input matInput type="text" placeholder="Last Name">
        </mat-form-field>
    </div>
    
    <div class="email">
        <mat-form-field appearance="outline" style="width: 90%;height: 15px;font-family: 'Lato';">
            <mat-label>Email</mat-label>
            <input matInput type="text" placeholder="Email">
        </mat-form-field>
    </div>
    
    <div class="email">
        <mat-form-field appearance="outline" style="width: 90%;height: 15px;font-family: 'Lato';">
            <mat-label>Mobile No</mat-label>
            <input matInput type="text" placeholder="mobile">
        </mat-form-field>
    </div>
    
    <div class="email">
        <mat-form-field appearance="outline" style="width: 90%;height: 15px;font-family: 'Lato';">
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="Email">
        </mat-form-field>
    </div>
    

</mat-dialog-content>
<mat-dialog-actions align="end" style="margin-bottom: 10px;">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary" (click)="register()">REGISTER</button>
</mat-dialog-actions>
