<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Customer Manager</span>
    <span style="margin-left: 30px;"><button mat-button routerLink="/customers" >Customers</button></span>
    <span style="margin-left: 30px;"><button mat-button routerLink="customers">Orders</button></span>
    <span style="margin-left: 30px;"><button mat-button routerLink="customers">About</button></span>
    <span style="margin-left: 30px;"><button mat-button routerLink="login">Login</button></span>
  </mat-toolbar-row>
  
</mat-toolbar>

<router-outlet></router-outlet>