<div class="main">
    <mat-card class="card">
        <mat-card-title class="title">Spring Boot - Angular Application</mat-card-title>
        <button mat-raised-button style="margin-left: 239px;margin-top: 30px;" [routerLink]="['list']"  routerLinkActive="active">
            List User
        </button>
        <button mat-raised-button style="margin-left: 45px;" [routerLink]="['add']"  routerLinkActive="active">
            Add User
        </button>
        
    </mat-card>
</div>
<router-outlet></router-outlet>
  