.main{
    justify-content: center;
    display: flex;
}

.card{

    width: 30%;
    height: 30vh;
     margin-top: 30px;
     position: fixed;
}

.change{
    font-family: 'Lato';
    font-size: larger;
    padding: 3px;
    
    
}
label{
    font-weight: bold;
}