.main{
    display: flex;
    justify-content: center;
}

.card{

    height: 40vh;
    width: 30%;
    margin-top: 100px;
    margin-left: 50px;
    }
.email{

    margin-left: 40px;
    margin-top: 30px;
    flex: 1 0 auto;
    
}
button{
    justify-content: center;
    margin-top: 30px;
    margin-left: 70px;
}
/* .md-dialog-container {
    
    width: 400px;
    height: 495px
}
 */